<div class="model-body">
	<div>
		{{userObject.name}}
	</div>

	<div>
		{{userObject.id}}
	</div>
	
	
		<div>
		<div>
			<p class="input-group">
				<input type="date" class="form-control" ng-model="startDate" is-open="opened" min-date="minDate" max-date="'2015-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
			</p>
		</div>
	</div>
	<div>
		<div>
			<p class="input-group">
				<input type="date" class="form-control" ng-model="endDate" is-open="opened" min-date="minDate" max-date="'2015-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
			</p>
		</div>
	</div>
	greiðslumáti<input type="radio">
<button class="btn btn-default" ng-click="saveNewUser()">SAVE</button>
</div>
<div class="modal-footer">
	<button class="btn btn-default" ng-click="saveNewUser()">Save</button>
	<button class="btn btn-default" data-dismiss="modal">Cancel</button>
</div>