<div class="modal-header">
	Skoða notanda
</div>
<div class="model-body">
	<div>
		{{userObject.name}}
	</div>

	<div>
		{{userObject.id}}
	</div>
	<div>
		<div class="col-md-4">{{userObject.newestContract.contractStartString | date:'medium'}}</div>
		<div class="col-md-4">{{userObject.newestContract.contractEndString | date:'medium'}}</div>
		<div  class="col-md-4">{{dayDifference}}</div>
	</div>
	<new-contract ng-model="userObject" ng-show="newContractBool"></new-contract>
	<button class="btn btn-default" ng-click="newContract()">Nýr samningur</button>

	<!-- greiðslumáti<input type="radio"> -->
<!-- <button class="btn btn-default" ng-click="saveNewUser()">SAVE</button> -->
</div>
<div class="modal-footer">
	<button class="btn btn-default" ng-click="saveUserChanges()">Save</button>
	<button class="btn btn-default" data-dismiss="modal">Cancel</button>
</div>